*{
    margin: 0;
    padding: 0;
}

body
{
   background: var(--primarycolor);
   font-family: 'Poppins',sans-serif;

}
:root{
    --primarycolor:#22254b; 
    --secondarycolor:#373b69;

}
.movie
{
    width: 140px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primarycolor);
    position: relative;
    overflow: hidden;
}
.movie img 
{
    width:100%;
}
main
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-info
{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing:0.5px;
}
.movie-info h3{
    margin-top:0;
}
.movie-info span
{
    background: var(--primarycolor);
    padding: 0.25rem 0.5rem;
    border-radius:3px;
    font-weight: bold;

}
.movie-info span.green {
    color: lawngreen;

}
.movie-info span.orange {
    color: orange;
    
}
.movie-info span.red {
    color: red;
    
}  
.overview{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    background-color:antiquewhite;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
}
.movie:hover .overview
{
    transform: translateY(0)
}

h1{
    color: chocolate;
    font-size:45px;
}
