*{
 	margin: 0;
 	padding: 0;
}

body
{
    background: var(--primarycolor);
	font-family: 'Poppins',sans-serif;

}


 .navbar
 {
 	height: 75px;
 	margin: auto;
	
 }

 .nav1{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  padding-top: 16%;
 }

 .icon{
 	width: 200px;
 	float: left;
 	height: 70px;
 }

 .logo{
 	color:darkred;
 	font-size: 35px;
 	font-family: fantasy;
 	padding-left: 20px;
 	float: left;
 	padding-top: 10px;
 }
 h4{
   color: darkgoldenrod;
   font-size: 25px;
   font-family: sans-serif;
   float: left;
   padding-top: 20px;
   padding-left: 20px;
}
h2
{
   color:slateblue;
   font-size: 25px;
   font-family: sans-serif;
   float: left;
   padding-top: 20px;
   padding-left: 20px;
}
h3
{
  font-size:1rem;
}
 .menu
 {
 	width: 400px;
 	float: left;
 	height: 70px;
 }
 ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  background: transparent;
  background-color:  #343a40;
}
 ul li
 {
 	list-style: none;
 	margin-right: 35px;
	gap: 30px;
	font-size: large;
 }
 ul li a{
 	text-decoration: none;
 	color: darkgrey;
 	font-family: 'Trebuchet MS', sans-serif;
 	font-weight: bold;
 	transition: 0.4s ease-in-out;
 	display: block;
 }
 ul li a:hover
 {
 	color: blue;
 }
 ul span
 {
 	float: right;
 	list-style: none;
 	display: block;
 	margin-right: 10px;
 }
 
 :root{
	 --primarycolor:#22254b; 
	 --secondarycolor:#373b69;

 }


 header
 {
	 padding: 1rem;
	 padding-top: 0px;
	 display: inline-flex;
 }
.search {
    padding-top: 0px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.19rem;
    font-family: inherit;
    display: block;
    width: 100%;
    top:2px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9d9e9f;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.search:focus
{
	outline:0;
	background-color: rgb(99, 98, 98);
}
.search::placeholder
{
	color:var(--primarycolor);
}
.navigation
{
	padding-top: 0px;
	float: right;
	gap: 0.5rem;
	padding-right: 0px;
}
.movie {
  width: 37%;
  height: 20%;
  margin: 1.46rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
  background-color: var(--secondarycolor);
  position: relative;
  overflow: hidden;
}

.navlink{
  color:#111
}
.movie img 
{
    width:100%;
}
main
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--primarycolor);
}
.movie-info
{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing:0.5px;
}
.movie-info h3{
    margin-top:0;
    font-size: 0.9rem;
}
.over{
  visibility: hidden;
}
.movie-info span
{
    background: var(--primarycolor);
    padding: 0.25rem 0.5rem;
    border-radius:3px;
    font-weight: bold;

}
.movie-info span.green {
    color: lawngreen;

}
.movie-info span.orange {
    color: orange;
    
}
.movie-info span.red {
    color: red;
    
}  
.overview{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    background-color:antiquewhite;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.4s ease-in;
}



.movie:hover .overview
{
    transform: translateY(0)
}

#banner{
    color: white;
    object-fit: contain;
    height: 844px;
	width:100%;
    background-position: center center;
    background-size: cover;
  }
  #banner__contents{
    margin-left: 70px;
    padding-top: 540px;
    height: 190px;
  
  }
  #banner__title {
    font-size: 2rem;
    font-weight: 750;
    padding-bottom: 0.1rem;
  }

  #banner__description {
    width: 20rem;
    color: #fff5e4;
    line-height: 1.5;
    padding-bottom: 28rem;
    font-size: .7rem;
    max-width: 4000px;
    height: 100px;
  }

  #banner__button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    background-color: rgba(51,51,51,.5);
    padding-bottom: .5rem;
  }
  #banner__button:hover{
    color: black;
    background-color: #e6e6e6;
    transition: all .3s;
  }
  #banner__fadeBottom{
    height: 7.4rem;
    background: linear-gradient(
      180deg,
      transparent,
      rgba(37,37,37, .61),
      #111
    );
  }
  
  .row{
    margin-left: 20px;
    color: white;
  }
  .row__poster{
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    margin-right: 10px;
    transition: transform 500ms;
  }
  .row__posters::-webkit-scrollbar{
    display: none;
  }
  .row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    
  }
  .row__poster:hover{
    transform: scale(1.08);
  }
  .row__posterLarge, 
  .row__posterLarge1,
  .row__posterLarge2{
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 500ms;
  
  }
  .row__posterLarge:hover,
  .row__posterLarge1:hover,
  .row__posterLarge2:hover{
    transform: scale(1.09);
    opacity: 1;
  
  }

  ::-webkit-scrollbar{
	width: 9px;
	background-color: #111;
  }
  ::-webkit-scrollbar-thumb{
	background-color: white;
	border-radius: 10px;
  }
button
{
    transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
  background-color:#00afe5;
  border-radius:2px;
  font-size:25px;
  border:none;
}
button:hover 
{
    background-color:#006b8b;
    color:#ffffff;
}
